* {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;

  }

body {
      min-width: 500px;
      background-color: #e0eeee;
        }
.profileBody{
    display: inline-block;
    background-color: white;
    margin-top: 30px;
    margin-left: 55px;
    width: 75%;
    height: 590px;
    padding: 10px;
    padding-left: 20px;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4d0000;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: dimgray;
}
hr{
    margin-top: 10px;
    margin-bottom: 20px;
    height: solid 5px;
}
ul{
    padding-left: 16px;
}
strong{
    color: #4d0000;
}